.id {
    color: hsl(225, 100%, 50%);
    background-color: hsla(225, 100%, 50%, 30%);
}

.journey-divergence {
    line-height: 1.4em;
}

.journey-divergence-explicit {
    line-height: 1.4em;
}

.journey-divergence-explicit > :not(:first-child) {
    color: red;
}

.journey-cancelled, .journey-divergence-explicit > :not(:last-child) {
    text-decoration: line-through;
    color: red;
}

.flex.flex-column {
    flex-direction: column;
}

/**
Unfixed workaround
**/

swd-menu {
    overflow: unset !important;
}

swd-navigation[shown] {
    left: 0 !important;
}